body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(0.25turn, #43cea2, #185a9d);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
	cursor: pointer;
}